*{
    margin: 0;
    padding: 0;
}
/*
头部布局
width: 1000px;
height:90px
 */
.header{
    background-color: #5775FF;
    width: 1000px;
    height: 90px;
    margin: 0 auto;
}
.header .logo{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    width: 180px;
    height: 70px;
}
.header .logo>img{
    height: 70px;
}
.header .title{
    margin-top: 10px;
    float: left;
    /*background-color: #0af875;*/
    width: 600px;
    height: 40px;
}
.header .title span{
    font-size: 25px;
    line-height: 40px;
    color: whitesmoke;
}
.header .explain{

    /*background-color: #2f38b3;*/
    float: left;
    width: 600px;
    height: 30px;
}
.header .explain>span{
    line-height: 30px;
    font-size: 17px;
    color: whitesmoke;
}

.content-top{
    /*background-color: #0af875;*/

    margin: 0 auto;
    width: 1000px;
    height: 350px;

    overflow-y:auto;
    overflow-x:hidden;
}
.content-top .left-one{
    float: left;
    /*background-color: #0af875;*/
    width: 1000px;
}
.content-top .left-one>.head-portrait{
    /*background-color: #0af875;*/
    margin-top: 10px;
    margin-left: 10px;
    float: left;

}
.content-top .left-one>.head-portrait>img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.content-top .left-one>.username{
    /*background-color: #0af875;*/
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 790px;
    height: 30px;
}
.content-top .left-one>.username>span{
    line-height: 30px;
    font-size: 15px;
    color: grey;

}
.content-top .left-one>.information{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 790px;

}
.content-top .left-one>.information>span{
    background-color: #f0f0f0;
    border-radius: 10px;

    display: block;
    float: left;
    font-size: 15px;
    padding: 10px 10px 30px 10px;
}



.content-top .right-one{
    float: right;
    /*background-color: #0af875;*/
    width: 1000px;
}
.content-top .right-one>.head-portrait{
    /*background-color: #0af875;*/
    margin-top: 10px;
    margin-left: 10px;
    float: right;

}
.content-top .right-one>.head-portrait>img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.content-top .right-one>.username{
    /*background-color: #0af875;*/
    margin-top: 10px;
    margin-left: 10px;
    float: right;
    text-align: right;
    width: 790px;
    height: 30px;
}
.content-top .right-one>.username>span{
    line-height: 30px;
    font-size: 15px;
    color: grey;

}
.content-top .right-one>.information{
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    width: 790px;

    /*background-color: #0af875;*/
}
.content-top .right-one>.information>span{

    background-color: #f0f0f0;
    border-radius: 10px;

    display: block;
    float: right;
    font-size: 15px;
    padding: 10px 10px 30px 10px;

}

.content-bottom{
    /*background-color: #00b7ee;*/
    width: 1000px;
    height: 250px;
    margin: 0 auto;
}
.content-bottom>textarea{
    width: 958px;
    height: 160px;
    font-size: 25px;
    padding: 20px;
    color: black;
}
.content-bottom>textarea:hover{
    border: blue solid 1px;
}
.content-bottom .send{
    width: 998px;
    height: 47px;
    border: #f0f0f0 solid 1px;
}
.content-bottom .send>button{
    width: 80px;
    height: 39px;
    margin-top: 4px;
    margin-right: 40px;
    float: right;
    background-color: #5775FF;
    border: #5775FF solid 1px;
    font-size: 20px;
    color: white;
}
