body{
    margin: 0px;
    padding: 0px;
}
.replyContent{
    /*background-color: #f0f0f0;*/
    border:  #f0f0f0 solid 1px;
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
    height: 500px;
}
.replyContent .replyFirst{
    width: 600px;
    height: 300px;
    /*background-color: #e4edef;*/
    margin-left: 100px;
    margin-top: 30px;
}
.replyContent .replyFirst textarea{
    margin-top: 50px;
    width: 598px;
    height: 250px;
    background-color: #d1e4f1;
    line-height: 40px;
    font-size: 20px;
    text-align: left;
    border: wheat dashed 1px;
    border-radius: 5px;
}
.replyContent .replySecond {
    width: 600px;
    height: 100px;
    margin-top: 20px;
    margin-left: 100px;
}
.replyContent .replySecond input{
    width: 70px;
    height: 35px;
    font-size: 17px;
    background-color: #00b7ee;
}