.zhong{
    /*background-color: #e59500;*/
    width:1000px;
    height: 40px;
    margin: 0 auto;
}
.zhong input{
    width:700px;
    height: 40px;
    border:  #f5f5f5 solid 1px;

}
.zhong select{
    height: 40px;
    width: 290px;
    border:  #f5f5f5 solid 1px;
}
.center{
    width:1000px;
    height: 470px;
    margin: 0 auto;
}
.center .input{
    width:1000px;
    height: 280px;
    font-size: 25px;
    line-height: 40px;
}
.footer{
    /*background-color: #e59500;*/
    width:1000px;
    height:40px;
    margin: 0 auto;
}
.footer input{
    background-color: blue;
    width: 80px;
    height: 40px;
    color: whitesmoke;
    line-height: 40px;
    font-size: 17px;
    margin-left: 10px;
    border-radius: 2px;
}