
.content{
    position: relative;
    top: -55px;
    width: 1000px;
    /*height: 800px;*/
    margin: 0px auto;
}
.content .menu{
    float: left;
    background-color: white;
    width: 1000px;
    height: 60px;
    text-align: center;
}
.content .menu>ul{
    /*background-color: red;*/
    list-style: none;
}
.content .menu>ul>li{
    float: left;
    height: 60px;
    width: 142px;
}
.content .menu>ul>li:hover{
   background-color: whitesmoke;
}
.content .menu>ul>.mark{
    background-color: #5875FF;
}
.content .menu>ul>li>a{

    line-height: 60px;
    font-size: 20px;
    text-decoration: white;
    color: black;
}
.content .menu>ul>li>a:hover{
    text-decoration: underline;
 }







