.content .show{
    float: left;
    width: 1000px;
    background-color: white;
}
.content .show .one{
    float: left;
    width: 1000px;
    height: 80px;
    /*background-color: blue;*/
}
.content .show .one .one-left{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    background-color: whitesmoke;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
}
.content .show .one .one-left span{
    line-height: 60px;
    font-size: 25px;
 }
.content .show .one .one-right{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    background-color: whitesmoke;
    width: 400px;
    height: 60px;
}
.content .show .one .one-right span{
    margin-left: 20px;
    line-height: 60px;
    font-size: 25px;
}